~~ Licensed to the Apache Software Foundation (ASF) under one
~~ or more contributor license agreements.  See the NOTICE file
~~ distributed with this work for additional information
~~ regarding copyright ownership.  The ASF licenses this file
~~ to you under the Apache License, Version 2.0 (the
~~ "License"); you may not use this file except in compliance
~~ with the License.  You may obtain a copy of the License at
~~
~~ http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing,
~~ software distributed under the License is distributed on an
~~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
~~ KIND, either express or implied.  See the License for the
~~ specific language governing permissions and limitations
~~ under the License.

  ------
  Require Contributor Roles
  ------
  Mirko Friedenhagen
  ------
  April 2012
  ------

Require Contributor Roles

  This rule checks that certain roles in a project are represented by contributors.

  Say you want to enforce a policy that in every project there is at least one
  contributor representing a specific role, e.g. at least one contributor has
  the role "business engineer".

  The following parameters are supported by this rule:

   * <<<requiredRoles>>> - Comma separated list of roles which must be represented
   by at least one contributor.

   * <<<validRoles>>> - Comma separated list of roles which are additionally allowed. <<<requiredRoles>>> are always valid, so the union of <<<requiredRoles>>> and <<<validRoles>>> forms the set of all accepted roles.
   By default it has the value <<<*>>>, which means every role is accepted. This rule does <<not>> support Ant-patterns.
   
   []


  Sample Plugin Configuration:

+---+
<project>
  <groupId>company</groupId>
  <artifactId>company-parent-pom</artifactId>
  <version>1.0</version>
  [...]
  <build>
    <plugins>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-enforcer-plugin</artifactId>
        <version>${enforcerApiVersion}</version> <!-- find the latest version at http://maven.apache.org/plugins/maven-enforcer-plugin/ -->
        <executions>
          <execution>
            <id>enforce-require-roles</id>
            <goals>
              <goal>enforce</goal>
            </goals>
            <configuration>
              <rules>
                <requireContributorRoles>
                  <requiredRoles>business engineer, quality manager</requiredRoles>
                  <validRoles>java developer</validRoles>
                </requireContributorRoles>
              </rules>
              <fail>true</fail>
            </configuration>
          </execution>
        </executions>
        <dependencies>
          <dependency>
            <groupId>${project.groupId}</groupId>
            <artifactId>${project.artifactId}</artifactId>
            <version>${project.version}</version>
          </dependency>
        </dependencies>
      </plugin>
    </plugins>
  </build>
  [...]
</project>
+---+



* Trademarks

  Apache, Apache Maven, Maven and the Apache feather logo are trademarks of The Apache Software Foundation.
