<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <mirrors>
    <mirror>
      <id>httpsCentral</id>
      <url>https://repo.maven.apache.org/maven2</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
  </mirrors>
  <!--<profiles>-->
    <!--<profile>-->
      <!--<id>it-repo</id>-->
      <!--<activation>-->
        <!--<activeByDefault>true</activeByDefault>-->
      <!--</activation>-->
      <!--<repositories>-->
        <!--<repository>-->
          <!--<id>central</id>-->
          <!--<url>file:///@localRepository@</url>-->
          <!--<releases>-->
            <!--<enabled>true</enabled>-->
            <!--<checksumPolicy>ignore</checksumPolicy>-->
            <!--<updatePolicy>never</updatePolicy>-->
          <!--</releases>-->
          <!--<snapshots>-->
            <!--<enabled>true</enabled>-->
            <!--<checksumPolicy>ignore</checksumPolicy>-->
            <!--<updatePolicy>never</updatePolicy>-->
          <!--</snapshots>-->
        <!--</repository>-->
      <!--</repositories>-->
      <!--<pluginRepositories>-->
        <!--<pluginRepository>-->
          <!--<id>central</id>-->
          <!--<url>file:///@localRepository@</url>-->
          <!--<releases>-->
            <!--<enabled>true</enabled>-->
            <!--<checksumPolicy>ignore</checksumPolicy>-->
            <!--<updatePolicy>never</updatePolicy>-->
          <!--</releases>-->
          <!--<snapshots>-->
            <!--<enabled>true</enabled>-->
            <!--<checksumPolicy>ignore</checksumPolicy>-->
            <!--<updatePolicy>never</updatePolicy>-->
          <!--</snapshots>-->
        <!--</pluginRepository>-->
      <!--</pluginRepositories>-->
    <!--</profile>-->
  <!--</profiles>-->
</settings>
